---

import { ExpandableCards } from "./ExpandableCards";
---
  <div class="w-full h-full  flex flex-col pt-5 items-center justify-center ">
      <h2 class="max-w-7xl pl-5 pt-5 pb-2 md:pb-5 text-4xl md:text-5xl font-bold text-neutral-800 dark:text-neutral-200 ">
        My Projects
      </h2>
      <ExpandableCards client:only="react" />
  </div>



