---
import '../styles/global.css';
// Component Imports
import Layout from '@/layouts/main.astro';
import Welcome from '@/components/main/welcome.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---
	<Layout content={{title: 'Home'}}>
		<section class="h-screen snap-start">
			<Welcome />
		</section>
		<div class="h-screen snap-start">
			<p>Dummy content</p>
		</div>
	</Layout>
