---
import '../styles/global.css';
const { content } = Astro.props;
import Header from '@/components/Header.astro';
---
<script>



</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
	</head>
	<body>
		<Header/>
		<main class="md:ml-[300px] scroll-smooth snap-y snap-mandatory h-screen overflow-y-scroll">
			<slot/>
		</main>
	</body>
</html>
